.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../Pictures/DisplayPicture.jpg");
  min-height: 50rem;
}
.w3-bar .w3-button {
  padding: 16px;
}
.lgimg-1{
  background-position: left;
  background-size: cover;
  background-image: url("../Pictures/WebsiteLogo.jpg");
  min-height: 5rem
}
